<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Main page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Main bulletin-board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cabinet}">Cabinet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5 mb-5"> <br>
    <h1><em>Line news</em></h1>
    <div th:each="el:${page.content}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"></h3>
        <h3 th:text="${el.anons}"></h3>
        <!--<div class="img-container" th:if="${product.filename}">
            <img th:src="@{el.filename}" height="70" />
        </div>-->
        <p th:t="${el.full_text}"></p>
        <h3 th:text="${el.rg_data}"></h3>
        <h3 th:text="${el.getAuthor().getLastName()}"></h3>
    </div>
</div>

<!-- customers pagination -->
<nav aria-label="Pagination" th:if="${page.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-bold">
        <li class="page-item" th:classappend="${page.number eq 0} ? 'disabled'">
            <a class="page-link"
               th:href="@{/page={id}(id=${page.number lt 2 ? 1 : page.number})}"
               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq page.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( 1, page.totalPages, 1)}">
            <a class="page-link" th:href="@{/?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
        </li>
        <li class="page-item" th:classappend="${page.number + 1 eq page.totalPages} ? 'disabled'">
            <a class="page-link"
               th:href="@{/page={id}(id=${page.number + 2})}"
               aria-label="Next" title="Next Page" data-toggle="tooltip">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>
